/.idea/
/src/main/resources/application-dev.yml
/.claude/
/target/
/docs/optimize
/docs/superpowers/plans
/docs/React与PlanExecute联调说明.md
/frontend/node_modules/
/frontend/package-lock.json
/.superpowers/brainstorm/manual-19560-1774610558/.server.err.log
/.superpowers/brainstorm/manual-11456-1774610439/.server.log
/.superpowers/brainstorm/manual-20580-1774610476/.server.log
/.superpowers/brainstorm/manual-19560-1774610558/.server.out.log
/.superpowers/brainstorm/manual-19560-1774610558/.server-info
/.superpowers/brainstorm/ui-1774581278/.server-info
/.superpowers/brainstorm/ui-1774581278/layout-options.html
/.superpowers/brainstorm/ui-1774581278/start-brainstorm.ps1
/.superpowers/brainstorm/manual-19560-1774610558/visual-style.html
/.superpowers/brainstorm/ui-1774581278/waiting-2.html
/docs/mcp_integration_comparison.md

/.superpowers/
